/*****************************/
/* NAVIGATION BAR*/
/*****************************/

.nav_m_headings {
    list-style-type: none; /*This is dot-points, or nothing */
    position: sticky; 
    left: 1400px; top: 0px;
    margin: 0px;
    padding-right:0px;
    z-index: 1;
}

.nav_m_headings > li  {
    float:left;   /*Goes through the first level of list (not sub-list) from top list# to bottom list# and shows it in website left to right */
    /* position: relative; left: 500px; top: 0px; Left: -ve values for left, top: -ve values to go up */
}

/* Goes into the class that is horizontal list and ul. Editing the drop down list. */
.nav_m_headings > li > ul {
    list-style-type: none;
    display: none;
    padding: 0px; 
}

/* Goes into the class that is horizontal list and li (list) */
.nav_m_headings li:hover ul {
    display: block;
    position: absolute;    /* Prevents data below from shuffling downwards */
}

/*Nav_m_headings which has a link attribute*/
.nav_m_headings a {
    display: block; 
    text-align:center; 
    padding:15px 20px;
    font-family: Garamond, serif; 
    font-size:12px; 
    font-weight:bold; 
    color:#f0f3f0; 
    border:1px solid #607987; 
    background-color:#538eb6;  
    letter-spacing:.08em;
}

.nav_s_headings a{
    color: #f0f3f0;
    background-color: #6ba3bd; 
}

/* Goes into the class that is horizontal list and li (list) */
/* 'a:hover' : a link when user mouses over it */
.nav_m_headings a:hover {
    background-color:#3d4346; 
    color:#e8eff3;
}

@media (max-width: 800px) { 
    .nav_m_headings li:hover ul {
        display: block;
        position: relative;
        top:0px;
        left:0%;
    }   

    .nav_m_headings > li{
        display: block;
        position: relative;
        top:0px;
        left: -200px;
        width: 150px;        
    }

    .nav_m_headings li  {
        float:none;  
    }
} 

/*****************************/
/* HOME PAGE (index.html and generic theme eg. background-color, pargraph fonts) */
/*****************************/

.bod{
    background-color:rgba(190, 191, 199, 0.74);
}

.left_half{
    background-color: white;
    padding: 25px;
    margin: 20px 10px 20px 0px;
}

.right_half{
    background-color:white;
    padding: 25px;
    margin:20px -10px 20px 0px;
}

@media (max-width: 600px){ 
    .left_half {
        margin-left: -40px;
        }
    }
    
.right_half_imgs{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 80%;
    align-content: center;
    background-color:white;
}

/* a:hover style links on mouse-over */
.vis_img:hover, .main_img:hover{
    box-shadow: 0 0 2px 1px #6ba3bd;
}

.m_heading{
    color: rgb(99, 148, 113);
    font-family: Garamond, serif;
    font-size: 35px; 
    text-align: center;
    font-weight: bold;  
}

.p_text{
    font-family: Garamond, serif;
    font-size: 15px; 
    text-align: left;
    margin: 2px;
    font-weight: none;
    }

#main_image{
    width: 70%;
    float:left;
    margin: 10px;
}

/*****************************/
/* DATA PAGE (data.html) */ 
/*****************************/

#df_headings{
    text-align: center;
    font-family: Garamond, serif;
    font-size: 15px;
}

.df{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;  
    font-size: 15px;
}

/*****************************/
/* COMPARISON PAGE (comparison.html) */
/*****************************/

.s_heading{
    text-align: center;
    color: rgb(99, 148, 113);
    font-family: Garamond, serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

/*****************************/
/* VISUALISATION PAGE/S (visualisation-page1.html, visualisatoin-page2.html, 
visualisation-page3.html, visualisation-page4.html) */
/*****************************/

.v_heading{
    color: rgb(99, 148, 113);
    font-family: Garamond, serif;
    font-size: 35px; 
    text-align: left;
    font-weight: bold;
    margin-left: 15px;  
}

.main_img_vis{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.left_vis{
    background-color: white;
    margin: 30px;
    max-width: 800px;
    width:60%;
    margin: auto;
    margin-left:-25px;
    text-align: center;
    padding: 20px;   
}

.p_vis_text{
    font-family: Garamond, serif;
    font-size: 15px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-weight: none;
}

.right_vis{
    background-color: white;
    margin: 20px;
    max-width: 1000px;
    width:40%;
    margin: auto;
    text-align: center;
    padding: 10px;   
}

.vis_top_imgs{
    display: inline-block;
    float: left;
    width:100%;
    margin-left: auto;
    margin-right: auto;   
}

.vis_bot_imgs{
    display: inline-block;
    float: left;
    width:100%;
    margin-left: auto;
    margin-right: auto;   
}

@media (max-width: 800px) { 
    .m_col {
        background-color: white;
        margin: 30px;
        text-align: center;
        width:100%;
        margin: 15px;
        padding: 20px;    
    }
}