/*****************************/
/* NAVIGATION BAR*/
/*****************************/

/* .navbar {
    padding:0px;
    position: sticky; left: 100px;
  
} */

.nav_m_headings {
    list-style-type: none; /*This is dot-points, or nothing */
    position: sticky; 
    left: 1400px; top: 0px;
    margin: 0px;
    padding-right:0px;
    z-index: 1;
}

.nav_m_headings > li  {
    float:left;   /*Goes through the first level of list (not sub-list) from top list# to bottom list# and shows it in website left to right */
    /* position: relative; left: 500px; top: 0px; Left: -ve values for left, top: -ve values to go up */
}


/********* Plot Sub-categories *******/

/* Goes into the class that is horizontal list and ul. Editing the drop down list. */
.nav_m_headings > li > ul {
    list-style-type: none;
    display: none;
    padding: 0px; 
  
}
/* Goes into the class that is horizontal list and li (list) */
.nav_m_headings li:hover ul {
    display: block;
    position: absolute;    /* Prevents data below from shuffling downwards */
}

/*Nav_m_headings which has a link attribute*/
.nav_m_headings a {
    display: block; 
    text-align:center; 
    padding:15px 20px;
    font-family: Garamond, serif; 
    font-size:12px; 
    font-weight:bold; 
    color:#f0f3f0; 
    border:1px solid #607987; 
    background-color:#538eb6;  
    letter-spacing:.08em;
}

/* Goes into the class that is horizontal list and li (list) */
/* 'a:hover' : a link when user mouses over it */
.nav_m_headings a:hover {
    background-color:#6ba3bd; 
    color:#e8eff3;
}

@media (max-width: 800px) { 
    .nav_m_headings li:hover ul {
        display: block;
        position: relative;
        top:0px;
        left:0%;
    }   

    .nav_m_headings > li{
        display: block;
        position: relative;
        top:0px;
        left: -300px;
        /* margin: auto; */
    }


    /* .nav_m_headings li a  {
        /* display: flex; */
        /* flex-direction: row; */
        /* position: relative;} */
    
    .nav_m_headings li  {
        float:none;  
    }

    /* .nav_m_headings ul li:hover > ul {
        display: block;
        position: absolute;
        background-color: #CC0000;
        margin-left: -77px;
      } */
 


 }  















/*****************************/
/* BODY*/
/*****************************/

.bod{
    background-color:rgba(190, 191, 199, 0.74);
}

.left_half{
    background-color: white;
    padding: 25px;
    margin: 20px 10px 20px 0px;
}
.right_half{
    background-color:white;
    padding: 25px;
    margin:20px -10px 20px 0px;
}

@media (max-width: 600px){ 
.left_half {
    margin-left: -40px;
    }
}

.right_half_top_imgs{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 80%;
    align-content: center;
    background-color:white;
}

/* a:hover style links on mouse-over */
.vis_img:hover, .main_img:hover{
    /* background-color:#6ba3bd; #e8eff3;
    color:#e8eff3; */
    box-shadow: 0 0 2px 1px #6ba3bd;
}

/* .right_half_bot_imgs{
    display: flex;
    flex-direction: row;
    width: auto;
    /* height: 30%; */
    /* align-content: center;
    background-color:white;
} */ 

/* @media(max-width: 600px){
    .right_half_top_imgs .right_half_bot_imgs {
        display: flex;
        flex-direction: row;
        height:
        width:25%;
        align-content: center;
    }




}  */

/* @media(max-width: 600px){ 
    .right_half{
        display: flex;
        flex-direction: row;
      }

    .container__col-1{ 
       width: 25%;
    }
    .container__col-2{
       width: 25%;
    }
} */




 /* .right_half_top_imgs {
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
} */

/* 
.right_half_top_imgs{
    display: block;
    justify-content: center;

} */

/* .right_half_bot_imgs {
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
} */


/* @media (max-width: 600px){ 
.right_half_top_imgs {
    display: flex;
    flex-direction: column;
  
}
} */


.m_heading{
    color: rgb(99, 148, 113);
    font-family: Garamond, serif;
    font-size: 35px; 
    text-align: center;
    font-weight: bold;  
}

.p_text{
    font-family: Garamond, serif;
    font-size: 15px; 
    text-align: left;
    margin: 2px;
    font-weight: none;
    }

#main_image{
    width: 70%;
    float:left;
    margin: 10px;
}


/*****************************/
/* DATAFRAME TABLE */
/*****************************/

#df_headings{
    align: center;
    font-family: Garamond, serif;
    font-size: 15px;
    /* text-transform: uppercase;   */

}

.df{
    /* font-family: Garamond, serif; */
    /* font-size: 10px;  */
    /* text-align: center; */
    /* font-weight: bold; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;  
    font-size: 15px;
}


/*****************************/
/* COMPARISON PAGE */
/*****************************/
.s_heading{
    text-align: center;
    color: rgb(99, 148, 113);
    font-family: Garamond, serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;

}

/*****************************/
/* VISUALISATION PAGE/S */
/*****************************/


.v_heading{
    color: rgb(99, 148, 113);
    font-family: Garamond, serif;
    font-size: 35px; 
    text-align: left;
    font-weight: bold;
    margin-left: 15px;  
}

.main_img_vis{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.left_vis{
    background-color: white;
    margin: 30px;
    /* display: inline-block;
    float: left; */
    max-width: 800px;
    width:60%;
    margin: auto;
    margin-left:-25px;
    text-align: center;
    padding: 20px;   
}

.p_vis_text{
    font-family: Garamond, serif;
    font-size: 15px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-weight: none;
    }

.right_vis{
    background-color: white;
    margin: 20px;
    max-width: 1000px;
    width:40%;
    margin: auto;
    text-align: center;
    padding: 10px;   
}

.vis_top_imgs{
    display: inline-block;
    float: left;
    width:100%;
/*  max-width: 100%; */
    margin-left: auto;
    margin-right: auto;   
}

.vis_bot_imgs{
    display: inline-block;
    float: left;
    width:100%;
    /* max-width: 100%; */
    margin-left: auto;
    margin-right: auto;   
}



/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 800 pixels */
@media (max-width: 800px) { 
    /* .left_vis {
      width: 100%;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    } */
  
    .m_col {
        background-color: white;
        margin: 30px;
        text-align: center;
        width:100%;
        margin: 15px;
        padding: 20px;    

    }

    








  
    /* #nav-select {
      visibility: visible;
    } */
  } 