
ul{
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: right;
    padding: 10px;
    background-color:rgba(149, 182, 149, 0.664);

}

 
/* ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        font-family: 'Courier New', Courier, monospace;
        color: #1c1e21;
        background-color: #385898;
        direction: ltr; */
        /* line-height: 1.34;
    }  */ 

.m_heading{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px; 
    text-align: center;
}


#main_image{
    width: 70%;
    float:left;

}
