/*****************************/
/* NAVIGATION BAR*/
/*****************************/

.navbar {
    padding:0px;
    position: sticky; left: 100px;
}

.horizontal {
    list-style-type: none; /*This is dot-points, or nothing */
    /* margin: 5px 50px 5px 5px; top right bottom left */
    /* width: max-content; width of the horizontal blocks */
    /* padding: 0;    */
    /* overflow: hidden;  */
    /* text-align: right; */
    /* background-position: 100% .4em; */
    /* padding-right: .6em; */
    /* padding:0px; */
    /* background-color:white; */
    position: sticky; left: 1400px; top: 0px;
    margin: 0px;
    padding-right:0px;
   /* float: center; */
   z-index: 4;
}

.horizontal > li {
    float:left;   /*Goes through the list from top list# to bottom list# and shows it in website left to right */
    /* position: relative; left: 500px; top: 0px; Left: -ve values for left, top: -ve values to go up */
}

/* Goes into the class that is horizontal list and ul. Editing the drop down list. */
.horizontal li ul {
    display: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: sticky; 
    width: 40%;
    z-index:1;
}
/* Goes into the class that is horizontal list and li (list) */
.horizontal li:hover ul {
    display: block;
    position: absolute;
    z-index:2;

}

/* Goes into the class that is horizontal list, li (list) and a (link attribute) */
.horizontal li a {
    display: block; 
    text-decoration:none; 
    text-align:center; 
    padding:15px 20px;
    font-family: Garamond, serif; 
    /* 'Courier New', Courier, monospace; */
    font-size:10pt; 
    font-weight:bold; 
    color:#f0f3f0; 
    /* text-transform:uppercase;  */
    border:1px solid #607987; 
    background-color:#538eb6;  
    letter-spacing:.08em;
    z-index: -1;
  
    
}

/* Goes into the class that is horizontal list and li (list) */
/* a:hover style links on mouse-over */
.horizontal li a:hover {
    background-color:#6ba3bd; 
    color:#e8eff3;
    
}

/*****************************/
/* BODY*/
/*****************************/

.bod{
    background-color:rgba(190, 191, 199, 0.74);
}

.left_half{
    background-color: white;
    /* padding: 30px 100px 150px 100px; */
    padding:25px;
    margin: 0px 40px 0px 0px;
   
}
.right_half{
    background-color:white;
    /* padding: 30px 100px 150px 100px; */
    padding: 25px;
    margin: 0px -40px 0px 0px;
  
}

.m_heading{
    color: rgb(99, 148, 113);
    font-family: Garamond, serif;
    font-size: 35px; 
    text-align: center;
    font-weight: bold;  
}

.p_text{
    font-family: Garamond, serif;
    font-size: 15px; 
    text-align: left;
    margin: 2px;
    font-weight: none;
    }

#main_image{
    width: 70%;
    float:left;
    margin: 10px;
}


/*****************************/
/* DATAFRAME TABLE */
/*****************************/

#df_headings{
    align: center;
    font-family: Garamond, serif;
    font-size: 15px;
    /* text-transform: uppercase;   */

}

.df{
    /* font-family: Garamond, serif; */
    /* font-size: 10px;  */
    /* text-align: center; */
    /* font-weight: bold; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;  
    font-size: 15px;
}


/*****************************/
/* COMPARISON PAGE */
/*****************************/
.s_heading{
    text-align: center;
    color: rgb(99, 148, 113);
    font-family: Garamond, serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;

}

/*****************************/
/* VISUALISATION PAGE/S */
/*****************************/


.v_heading{
    color: rgb(99, 148, 113);
    font-family: Garamond, serif;
    font-size: 35px; 
    text-align: left;
    font-weight: bold;
    margin-left: 15px;  
}

.main_img_vis{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.left_vis{
    background-color: white;
    margin: 30px;
    /* display: inline-block;
    float: left; */
    max-width: 800px;
    width:60%;
    margin: auto;
    text-align: center;
    padding: 20px;   
}

.p_vis_text{
    font-family: Garamond, serif;
    font-size: 15px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-weight: none;
    }

.right_vis{
    background-color: white;
    margin: 20px;
    max-width: 600px;
    width:30%;
    margin: auto;
    text-align: center;
    padding: 20px;   
}

.vis_top_imgs{
    display: inline-block;
    float: left;
    width:100%;
    /* max-width: 100%; */
    margin-left: auto;
    margin-right: auto;   
}

.vis_bot_imgs{
    display: inline-block;
    float: left;
    width:100%;
    /* max-width: 100%; */
    margin-left: auto;
    margin-right: auto;   
}







/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
 /* @media (max-width: 30%) { 
    .left_vis {
      width: 100%;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }  */
  